* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
html,
body {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "Volkhov", serif;
  color: #060606;
}
header {
  transition: 0.5s;
  padding: 10px 0px;
}
header.sticky {
  background: #fff;
  padding: 5px;
  transition: 0.5s;
}
header.sticky .menu span.fa,
#site-header.sticky .container__header .navbar-brand h5,
#site-header.sticky .container__header .navbar-brand i {
  color: black;
}
#site-header.sticky .light__dark i{
  color: black;
}
.container .navbar-light .navbar-brand i {
  color: #fb811e;
  transition: 0.5s;
}
.container .navbar-light .navbar-brand:hover {
  color: #060606;
}
.dark .container .navbar-light .navbar-brand:hover {
  color: white;
}
/* .container .navbar-light .navbar-brand i:hover {
  color: #060606;
} */
.container .navbar-light .navbar-brand a {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  display:block;
}
.container .navbar-light .navbar-brand a

.container .navbar-light .navbar-brand p {
  font-size: 32px;
}
.container .navbar-light .navbar-brand h5 {
  transition: 0.6s;
  font-size: 30px;
  color: #fb811e;
}
.container .navbar-light #logo:hover i
{
  color: black;
}
.container .navbar-light #logo:hover h5
{
  color: black;
}
.container .navbar-light .navbar-brand i {
  position: absolute;
  top: -10px;
  left: 50px;
  transition: 0.6s;
  font-size: 25px;
  
}
.menu span {
  transition: 0.6s;
}
.container .search__right {
  align-items: center;
}

.container .search__right input {
  background: #ffff
    url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  border: solid 1px #eee;
  transition: 1s;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  
  outline: none;
  padding-left: 40px;
  font-size: 30px;
  margin-right: 20px;
}

.container .search__right input[type="search"]:focus {
  width: 200px;
  background-position: left;
  background-position-x: 10px;
  padding: 0px 10px 0px 32px;
}

/* light and dark */

/* light */
/* Dark Theme*/
.dark#myBody{
  background-color:white;
}
.dark #checkbox {
  background-color: #404040;
}
.dark #checkbox .fa-sun {
  display: block;
  color: white;
}

.dark #checkbox .fa-moon {
  display: none;
}
.dark .classbody{
  background-color: #222222;
}

.dark .banner__contain h2{
  color: white;
}


/* end light and dark */
/* Menu */
.menu input {
  display: none;
}
.menu span.fa {
  color: white;
  cursor: pointer;
  font-size: 30px;
}
.menu label {
  margin: 23px 0px 0px 20px;
  font-size: 25px;
}

.menu li {
  list-style-type: none;
  position: relative;
}

.menu input:checked ~ ul.submenu {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

ul.submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 8em;
  right: 0;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  border-radius: 16px;
  background-color: white;
}

ul.submenu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
  text-decoration: none;
}
.fa-bars {
  cursor: pointer;
  color: white;
}
ul.submenu li a:hover {
  color: #fb811e;
}
/* end menu */

/* start Wellcome */
.Wellcome {
  display: flex;
  /* position: relative; */
  margin-left: 90px;
}

.Wellcome__left {
  width: 30%;
  margin-left: 50px;
  z-index: 1;
}
.wellcome__banner .banner__text h1 {
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  z-index: 0;
  color:#f4f4f4;
  top: 160px;
  left: 82px;
}
.dark .banner__text h1 {
  color: #0b0d0e;
}
.dark #text__wellcome h1{
  color: #0b0d0e;
}

.Wellcome__left .banner__contain {
  margin: 230px 0px 30px;
  z-index: 0;
  position: absolute;
}
.Wellcome__left .banner__contain h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
.Wellcome__left .banner__contain p {
  margin-top: 50px;
  color: #707070;
  font-size: 20px;
  line-height: 27px;
}
button.button {
  width: 150px;
  height: 50px;
  background-color: #fb811e;
  border: none;
  color: white;
  font-weight: 620;
  border-radius: 25px;
  transition: 0.5s;
}
button.button:hover {
  background-color: #009f4d;
  transition: 0.5s;
}
button.button:focus {
  outline: none;
}

.wellcome__right {
  width: 70%;
  cursor: pointer;;
}
.carousel-inner {
  border-radius: 0px 0px 0px 25px;
  
}
.carousel-item {
  transition: all 0.5s ease-out;
  border-radius: 0px 0px 0px 25px;
}
.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 760px;
  position: relative;
}

.carousel-indicators li {
  opacity: 1;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  border-top: none;
  border-bottom: none;
  margin-left: 10px;
}

/* end wellcome */
/* start features */
.features {
  padding: 200px 80px 30px 80px;
  display: flex;
  padding-bottom: 22vh;
}
.features .features__left {
  width: 50%;

  padding-top: 50px;
}
.features .features__left h3 {
  font-size: 22px;
  color: #fb811e;
}
.features .features__left h2 {
  font-size: 40px;
  line-height: 25px;
  font-weight: 600;
  color: black;
}
.dark .container .features__left h2{
  color: white;
}
.features .features__left p {
  font-size: 1rem;
  margin-top: 40px;
  color: #707074;
}
.features .features__right {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.features__icon {
  padding: 40px 30px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  text-align: center;
  transition: 0.5s;
  border-radius: 30px;
}
.features__icon:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}
.features__icon img {
  width: 80px;
  height: auto;
}
.dark .features__icon{
  background: #222222;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 30%);
  transition: 0.5s;
}
.dark .features__icon:hover{
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 0%)

}
.features__icon h4 a{
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  font-family: "Volkhov", serif
}
.dark .features__right .features__icon h4 a{
  color: white;
}

.features__icon h4 a:hover {
  color: #009f4d;
}
.dark .title-style {
  color: white;
}
.dark .detail h4 {
  color: white;
}
/* end features */
/* Start Service  */
.service {
  background-color: #009f4d;
}
.container__service {
  position: relative;
}

.service__contain {
  display: flex;
  z-index: 1;
  justify-content: center;
  padding: 100px 50px 30px 50px;

  align-items: center;
}
.service__contain .service__left {
  width: 50%;
}
.service__contain .service__right {
  width: 50%;
}
.service__contain .service__left h3 {
  color: white;
  font-size: 22px;
}
.service__contain .service__left h2 {
  color: white;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.service__contain .service__right p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-left: 80px;
}
.container__service .service__text h1 {
  opacity: 0.14;
  text-align: center;
  font-size: 150px;
  position: absolute;
  top: 100px;
  left: 300px;
  letter-spacing: 10px;
  color: white;
}

.item__contain {
  display: flex;
  justify-content: center;
  gap: 30px;

  padding-bottom: 100px;
}

.item__contain .item__bottom button {
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 600;
  background-color:#D6F0E2 ;
  color: #009f4d
}
.dark .item__contain .item .item__bottom button{
  background-color: #1D3729;
}

.item__service .item {
  width: 30%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.item__service .item img {
  width: 100%;
}
.item__service .item__bottom {
  padding-left: 20px;
  padding-bottom: 20px;
}
.item__service .item__bottom h2 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.5s;
}
.item__service .item__bottom h2:hover {
  color: #009f4d;
}
.item__service .item__bottom p {
  color: #707070;
}
.dark .item .item__bottom h2{
  color: white;
}
.dark .item .item__bottom{
  background-color: black;
}

/* End Service */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clear {
  clear: both;
}
h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 28px;
}
/* FEATURES */
.imginfo__box {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

/* HOMEPAGE */
/* .container {
  padding-right: 15px;
  padding-left: 15px;
} */
 
 .dark a.d-flex.feature-unit{
  background-color: #222222;
 }
.homepage .features15-col-text {
  margin-top: 30px;
}
.homepage .feature-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}
.homepage .features15-para h4:hover {
  color: #009f4d;
  transition: 0.3s ease-in-out;
}

.homepage .feature-unit:hover {
  border: 1px solid var(--border-color-light);
  transition: 0.3s ease-in;
  /* box-shadow: -1px 2px 12px -9px var(--box-shadow); */
  background: var(--bg-color);
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.homepage .features15-para h4 {
  font-size: 22px;
  font-weight: 25px;
  font-weight: 600;
}
.homepage .features15-para p {
  margin-top: 10px;
}
.dark .features15-para h4 {
  color: white;
}
/* .homepage .features15-info img {
  font-size: 40px;
} */
/* AGILE */
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background-color: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
}
.btn-style:hover {
  background-color: #009f4d;
  color: #fff;
}
.gallery {
  margin-bottom: 1.5rem;
  display: grid;
  grid-gap: 0.5rem;
}
figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}
figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  transform: skewX(-17deg);
}
/* CAROUSEL */
.carousel:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
/* Slider */
.slider{
  background-image: url(./img/bg1.jpg);
  position: relative;
  width: 100%;
  height: 500px;
  filter:brightness(50%) ;

}
.carousel-item1 img {
  width: 20px;
  height: 30px;
}
.carousel-item1 {
  filter: brightness(100%);
}


/* end Slider */
/* FOOTER */
.footer__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer__item h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}
.footer__item p {
  line-height: 24px;
}
a {
  background-color: transparent;
  color: #707070;
  text-decoration: none;
  cursor: pointer !important;
}
p {
  color: #707070;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 27px;
}
.footer__content .p .a:hover {
  color: #fb811e;
}

body a:hover {
  text-decoration: none;
  transition: 0.5s all ;
}
.footer__content a h5{
  font-size: 30px;
  color: #fb811e;
  padding: 0px;
  position: relative;
  transition: 0.5s;
}
.footer__content .footer__logo  a i{
  top: -10px;
  left: 65px;
  position: absolute;
  font-size: 25px;
  color: #fb811e;
  transition: 0.5s;
}
.footer__content .footer__logo .logo:hover h5{
  color: #060606;

}
.footer__content .footer__logo .logo:hover i{
  color: #060606;
  
}


@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
  
 
  .footer__content .copyrights a {
    color: #009f4d;
  }
  .footer__subcribe input {
    background-color: #f4f4f4;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0 0 30px;
  }
  .footer__content .footer__subcribe button {
    background-color: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    width: 20%;
    color: #fff;
    border-radius: 0 30px 30px 0;
  }
  .fa-paper-plan::before {
    content: "";
  }
  li {
    list-style-type: none;
  }
  .footer__content ul.social li {
    display: inline-block;
    margin-right: 5px;
  }
  .footer__content ul.social li a {
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }
  .footer__content ul.social li a span {
    font-size: 15px;
    line-height: 35px;
  }
}
.dark footer {
  background-color:#222222;
}
.dark .footer__item h3 {
  color: white;
}
.dark .footer__subcribe .d-flex input {
  background: #0b0d0e;
}
/* BACK TO TOP */
.backToTop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #009f4d;
  padding: 0;
  text-align: center;
  line-height: 40px;
}